[alias]
  # ** commit
	# commit with message
	c = commit -m
	# commit all with message
	ca = commit -am

  # branch
  # branch (verbose)
  b = branch -v

  # status
	## Run a short status
	s = status --short

  # diff
	# diff unstaged changes
	d = diff

  # push
	p = push

[pull]
	rebase = false

[fetch]
    # Prune during fetch to cleanup outdated remote references
		# in .git directory
		# https://www.freecodecamp.org/news/git-config-how-to-configure-git-settings/
    prune = true

[init]
    # Set default branch name for new repositories
    defaultBranch = main

[include]
  # includes further configuration in these files
  path = .gitconfig.user
