[Desktop Entry]
Version=1.0
Name=Flatpak-Firefox
GenericName=Flatpak Firefox
Comment=Flatpak profile for Firefox
Exec=flatpak run org.mozilla.firefox
Path=/usr/bin/
Icon=browser
Terminal=false
Type=Application
Categories=Application
