[Desktop Entry]
Version=1.0
Name=Firefox Profile Manager (Flatpak)
GenericName=Firefox Profile Manager (Flatpak)
Comment=Profile Manager for Firefox
Exec=flatpak run org.mozilla.firefox -P
Path=/usr/bin/
Icon=browser
Terminal=false
Type=Application
Categories=Application
