[Desktop Entry]
Version=1.0
Name=Screenshot OCR
GenericName=Screenshot OCR
Comment=Run Optical Character Recognition on a Screenshot
Exec=sh -c "$HOME/usr/bin/jt-ocr-to-clipboard.sh"
Path=/
Icon=browser
Terminal=false
Type=Application
Categories=Application